---
---

@import "{{ site.theme }}";

.inner {
  max-width: 125%;
}

/* Body Styling */
body {
    font-family: Arial; /* Use a simple sans-serif font */
    background-color: #D8EBE6; /* Light, almost white background */
    color: #ff6600; /* Orange color used in text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

