---
---

@import "{{ site.theme }}";

.inner {
  max-width: 225%;
}

/* Body Styling */
body {
    font-family: Arial; /* Use a simple sans-serif font */
    background-color: #D8EBE6; /* Light, almost white background */
    color: #ff6600; /* Orange color used in text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.outer-left-full-height-image {
  position: fixed;          /* Keeps the image fixed on the outer left */
  left: 0;                  /* Aligns the image to the far left of the page */
  top: 0;                   /* Starts the image at the top of the page */
  height: 100vh;            /* Sets the image height to the full viewport height */
  width: auto;              /* Maintains the image's aspect ratio */
  object-fit: cover;        /* Ensures the image scales appropriately (optional) */
  z-index: 1000;            /* Keeps the image above other content */
}


